//site color variables
$body-color: #fff;
$primary-color: #496F5D;
$secondary-color: #BDD2A6;
$text-color: #3d3d3d;
$text-color-dark: #000;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$old-rose: #ac7b7b;
$dark-rose: #B6244F;
$dark-orange: #f1670b;
$melon-rose: #EAA4A4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
