.site-about{
  &-header{
    padding-top: 120px;
    background-color: $gray;
    @include mobile{
      padding-top: 60px;
      text-align: center;
    }
  }
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-company{
    margin: center;
    background: $primary-color;
    width: 100%;
    padding: 5px 5px;
    @include desktop{
      width: 100%;
      margin-bottom: 0px;
    }
    @include mobile {
      padding: 10px;
    }
    h1{
      text-align: center;
      color: $white;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      text-transform: none;
      letter-spacing: 0.5px;
      @include mobile{
        margin-top: 50px;
        font-size: 13px;
      line-height: 20px;
      }
    }
  }
  &-description{
    margin: auto;
    width: 80%;
    margin-top: 10px;
    padding-left: 50px;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 22px;
      line-height: 30px;
      font-weight: 300;
      margin-bottom: 0;
      @include mobile{
        font-size: 18px;
        line-height: 24px;  
      }
    }
    img{
      float: left;
      width: 30%;
      margin-right: 0.7em;
      margin-top: 0.5em;
      @include mobile{
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.7em;
      }
  }
}
}