.site-expertise{
  padding: 70px 0;
  background: $gray;
  &-list{
    padding: 0;
    margin: 10px 0 0 20px;
    @include mobile{
      text-align: center;
      margin: 0;
    }
    li{
      list-style: none;
      font-size: 16px;
      font-weight: 350;
      color: $text-color-dark;
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
}