{{ with .Site.Params.blog }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          
        </div>
        {{ range first 12 (where $.Site.RegularPages "Type" "photos") }}
        <div class="col-lg-6 col-md-6 mx-auto">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            
          </div>
        </div>
        {{ end }}
       
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}